{% extends "forum_base.html" %}
{% block title %}{{ thread.title|escape }} ({{ forum.title }}){% endblock %}

{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title|escape }}{% endblock %}


{% block breadcrumbs %}{% for title, url in thread.forum.get_url_name %} &raquo; <a href='{{ url }}'>{{ title }}</a>{% endfor %} &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title|escape }}</a> ({{ thread.posts }} post{{ thread.posts|pluralize }}){% endblock %}

{% block content %}

<table id='djangoForumThreadPosts'>
{% load markup %}
{% for post in posts %}

<tr>
<th style='djangoForumThreadPostDetail' id='post{{ post.id }}'>{{ post.time|timesince }} ago<br />
by <strong>{{ post.author }}</strong></th>
<td>{{ post.body|escape|markdown|safe }}</td>
</tr>{% endfor %}

</table>

<h2><a href="{% url forumsubs %}">Update Subscriptions</a></h2>
<h2>Post a Reply</h2>
{% if thread.closed %}
<p>Sorry, this thread is closed. No further replies are permitted.</p>
{% else %}
{% if user.is_authenticated %}
<form method='post' action='reply/'>
<p><label>Posting As</label><span>{{ user.username }}</span></p>
<p><label for='body'>Your Post</label>
<textarea name='body' rows='8' cols='50'></textarea></p>
<p><label for='subscribe'>Subscribe via email:</label><input type='checkbox' name='subscribe' {% if subscription %}checked{% endif %}/></p>
<input type='submit' value='Submit' />
</form>
{% else %}
<p>Please login to post a reply.</p>
{% endif %}
{% endif %}

{% endblock %}
